*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
header {
    background-image: url(../assets/images/header-bg-img.png);
    background-size: cover;
    padding: 35px 0 175px;
    text-align: center;
    color: #f0f0f0;
}
.logotype {
    margin-top: 40px;
    margin-bottom: 225px;
    display: inline-block;
}
header .logotype {
    height: 75px;
}
h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 75px;
}
p {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
}
.btn {
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    color: #ffffff;
    background-color: #ff9728;
    border-radius: 84px;
    text-decoration: none;
    padding: 16px 40px;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.info {
    color: #0F4C92;
    background-color: #def0ff;
    text-align: center;
}
.container {
    padding: 120px 311px;
}
h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #0f4c92;
    margin-bottom: 40px;
}
.description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    max-width: 745px;
    margin: 0 auto;
}
.advantages_blocks {
    padding: 80px 0 20px;
    max-width: 1196px;
    margin: 0 auto;
}
.advantage_block {
    display: flex;
    margin-bottom: 80px;
}
.advantage_block:nth-child(2) .advantage_img {
    order: 1;
}
.advantage_img {
    border-radius: 10px;
}
.advantage_description {
    padding-left: 80px;
    padding-top: 65px;
}
.advantage_block:nth-child(2) .advantage_description {
    padding-right: 80px;
    padding-left: 0;
}
h4 {
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    color: #0F4C92;
    margin-bottom: 20px;
}
.date {
    font-size: 20px;
    line-height: 23px;
    color: #1B1B1B;
    margin-bottom: 40px;
}
span {
    font-weight: 700;
}
.advantage_block .description {
    line-height: 26px;
}
.more_info {
    display: inline-block;
    padding: 16px 70px;
    background-color: #0d599c;
    border-radius: 95px;
    color: #ffffff;
    margin-top: 40px;
    text-decoration: none;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
}
.book_room {
    padding: 97px 0;
    background-color: #b5e4ff;
}
.book_room_container {
    width: 785px;
    margin: 0 auto;
    padding: 60px 60px 30px;
    background-color: #2b477c;
    color: #f0f0f0;
    border-radius: 19px;
    text-align: center;
}
.book_room_container p {
    font-size: 18px;
}
.book_room_container h2 {
    color: inherit;
}
.map_section h2 {
    margin-top: 78px;
    margin-bottom: 72px;
    text-align: center;
}
.map {
    filter: grayscale(100%);
    width: 100%;
    height: 355px;
    border: 0;
}
footer {
    padding: 46px 0 114px;
    background-color: #0b83be;
}
.footer_content {
    width: 704px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    line-height: 23px;
}
.footer_content .logotype {
    padding: 0;
    margin: 0;
}
.footer_content p {
    margin-bottom: 90px;
}
.footer_content span, a {
    font-weight: 400;
    font-style: normal;
}
.footer_content span {
    display: block;
}
.footer_content a {
    text-decoration: none;
    color: #ffffff;
}
.footer_content a.mailto {
    text-decoration-line: underline;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
}
.callback_form {
    background-image: linear-gradient(327.75deg, #0080BF 9.35%, #00496C 117.99%);
    border-radius: 50px;
    padding: 100px 80px 50px;
}
.callback_form h2 {
    color: #f0f0f0;
    margin-bottom: 75px;
    text-align: center;
}
.form_wrap:not(:last-child) {
    margin-bottom: 15px;
}
.callback_form .form_wrap input {
    width: 350px;
    display: inline-flex;
    padding: 14px 34px;
    background-color: transparent;
    font-family: inherit;
    font-size: 18px;
    line-height: 21px;
    color: rgba(178, 227, 255, 0.85);
    border: 1px solid #F7F6F6;
    border-radius: 30px;
}
.callback_form .form_wrap input:focus {
    outline: 1px solid #F7F6F6;
}

.callback_form .form_wrap input:nth-child(odd) {
    margin-right: 15px;
}
.callback_form .form_wrap input::placeholder {
    color: rgba(178, 227, 255, 0.85);
}
.callback_form .btn {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}